<p>
  <strong>Blinded</strong>
  A blinded creature can't see and automatically fails any ability check that requires sight.
  Attack rolls against the creature have advantage, and the creature's attack rolls have disadvantage.
</p>
<p>
  <strong>Charmed</strong>
  A charmed creature can't attack the charmer or target the charmer with harmful abilities or magical effects.
  The charmer has advantage on any ability check to interact socially with the creature.
</p>
<p>
  <strong>Deafened</strong>
  A blinded creature can't hear and automatically fails any ability check that requires hearing.
</p>
<p>
  <strong>Frightened</strong>
  A frightened creature has disadvantage on ability checks and attack rolls while the source of its fear is within line of sight.
  The creature can't willingly move closer to the source of its fear.
</p>

...