{% load base %}

<div class="container-flush mx-1 mx-sm-5 mt-5 display-only-context-hide">
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        {% for tab in dmscreentabs %}
          <li class="nav-item">
            <a class="nav-link{% if forloop.first %} active{% endif %}"
               data-toggle="list"
               href="#dmscreentab-content-{{ forloop.counter0 }}"
               role="tab" aria-controls="{{ tab.name }} content">
              {{ tab.name|capfirst }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="card-body">
      <div class="tab-content">
        {% for tab in dmscreentabs %}
          <div class="tab-pane dm-screen-tab fade{% if forloop.first %} show active{% endif %}"
               id="dmscreentab-content-{{ forloop.counter0 }}">
            {{ tab.tab_contents|markdownify|safe }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>