{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block title %}
  {% if object %}
    Edit {{ object.name }}
  {% else %}
    Add {{ model.meta.verbose_name }}
  {% endif %}
{% endblock %}

{% block custom_styles %}
  <style>
    #is-attack:not(.active) ~ .attack-only {
      display: none;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container mb-5">
    <form method="post" action="
    {% if object.pk %}
      {% url form_action pk=object.pk %}
    {% else %}
      {% url form_action %}
    {% endif %}
  ">
      {% csrf_token %}

      <div class="form-row">
        <div class="form-group col-sm">
          {{ form.name.label_tag }}
          {{ form.name|add_class:'form-control'|attr:'autofocus' }}
        </div>
        <div class="form-group col-sm">
          {{ form.statblock_title.label_tag }}
          {{ form.statblock_title|add_class:'form-control' }}
        </div>
      </div>

      <button type="button"
              id="is-attack"
              class="btn btn-outline-dark btn-block mb-3{% if object.attack_type %} active{% endif %}"
              data-toggle="button"
              aria-pressed="{% if object.attack_type %}true{% else %}false{% endif %}">
        Show attack-only fields
      </button>
      <div class="attack-only">
        <div class="form-row">
          <div class="form-group col-sm">
            {{ form.attack_type.label_tag }}
            {{ form.attack_type|add_class:'form-control' }}
          </div>
          <div class="form-group col-sm">
            {{ form.attack_uses.label_tag }}
            {{ form.attack_uses|add_class:'form-control' }}
          </div>
          <div class="form-group col-sm">
            {{ form.attack_tohit_bonus_override.label_tag }}
            {{ form.attack_tohit_bonus_override|add_class:'form-control' }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm">
            {{ form.reach_range.label_tag }}
            {{ form.reach_range|add_class:'form-control' }}
          </div>
          <div class="form-group col-sm">
            {{ form.range_secondary.label_tag }}
            {{ form.range_secondary|add_class:'form-control' }}
          </div>
          <div class="form-group col-sm">
            {{ form.num_targets.label_tag }}
            {{ form.num_targets|add_class:'form-control' }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm">
            {{ form.hit_num_damage_dice.label_tag }}
            {{ form.hit_num_damage_dice|add_class:'form-control' }}
          </div>
          <div class="form-group col-sm">
            {{ form.hit_type_damage_dice.label_tag }}
            {{ form.hit_type_damage_dice|add_class:'form-control' }}
          </div>
          <div class="form-group col-sm">
            {{ form.hit_damage_type.label_tag }}
            {{ form.hit_damage_type|add_class:'form-control' }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm">
            {{ form.hit_addl_num_damage_dice.label_tag }}
            {{ form.hit_addl_num_damage_dice|add_class:'form-control' }}
          </div>
          <div class="form-group col-sm">
            {{ form.hit_addl_type_damage_dice.label_tag }}
            {{ form.hit_addl_type_damage_dice|add_class:'form-control' }}
          </div>
          <div class="form-group col-sm">
            {{ form.hit_addl_damage_type.label_tag }}
            {{ form.hit_addl_damage_type|add_class:'form-control' }}
          </div>
        </div>
      </div>
      <div class="form-group">
        {{ form.description.label_tag }}
        {{ form.description|add_class:'form-control' }}
      </div>

      <div class="form-row">
        <div class="form-group col-sm">
          {{ form.sort_priority.label_tag }}
          {{ form.sort_priority|add_class:'form-control' }}
        </div>
        <div class="form-group col-sm">
          {{ form.save_dc.label_tag }}
          {{ form.save_dc|add_class:'form-control' }}
        </div>
        <div class="form-group col-sm">
          {{ form.save_type.label_tag }}
          {{ form.save_type|add_class:'form-control' }}
        </div>
      </div>

      {% if object %}
        <a class="btn btn-secondary" href="{{ object.get_absolute_url }}">Cancel</a>
        <a class="btn btn-outline-danger" href="{{ object.get_delete_url }}">Delete {{ object.name }}</a>
      {% endif %}
      <input type="submit" class="btn btn-primary" value="Save"/>
    </form>
  </div>
{% endblock %}
