{% load people_tags %}

<div class="card">
    <table id="data_table" class="table table-striped table-hover" cellspacing="0">
      <thead class="bg-primary text-white">
      <tr>
        {% for header in table_headers %}
          <th>{{ header }}</th>
        {% endfor %}
      </tr>
      </thead>
      <tbody>
      {% for object in object_list %}
        <tr class="clickable-row" data-href="{{ object.get_absolute_url }}">
          {% for accessor in table_data_accessors %}
            <td>
              {{ object|get_attr:accessor }}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  <div class="card-footer">
    <a href="{{ model.get_create_url }}" class="btn btn-outline-primary">Add a new {{ model.meta.verbose_name }}</a>
  </div>
</div>