{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block title %}
  {% if object %}
    Edit {{ object.name }}
  {% else %}
    Add {{ model.meta.verbose_name }}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="container mb-5">
    <form method="post" action="
    {% if object.pk %}
      {% url form_action pk=object.pk %}
    {% else %}
      {% url form_action %}
    {% endif %}
  ">
      {% csrf_token %}
      {% block all_fields %}
        {% for field in form %}
          {% block single_field %}
            {% if not field.name in object.login_protected_field_names and not field.name in model.login_protected_field_names %}
              <div class="form-group">
                {{ field.label_tag }}
                {% if forloop.first %}
                  {{ field|add_class:'form-control'|attr:'autofocus' }}
                {% else %}
                  {{ field|add_class:'form-control' }}
                {% endif %}
              </div>
            {% elif user.is_authenticated %}
              <div class="form-group">
                {{ field.label_tag }}
                {% if forloop.first %}
                  {{ field|add_class:'form-control'|attr:'autofocus' }}
                {% else %}
                  {{ field|add_class:'form-control' }}
                {% endif %}
              </div>
            {% endif %}
          {% endblock %}
        {% endfor %}
      {% endblock %}
      {% if object %}
        <a class="btn btn-secondary" href="{{ object.get_absolute_url }}">Cancel</a>
        <a class="btn btn-outline-danger" href="{{ object.get_delete_url }}">Delete {{ object.name }}</a>
      {% endif %}
      <input type="submit" class="btn btn-primary" value="Save"/>
    </form>
  </div>
{% endblock %}
