{% load static %}
{% load base %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/ico" href="{% static 'img/icosahedron.ico' %}">

  <link href="{% static 'css/app.css' %}" rel="stylesheet">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
        integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous"/>
  {% block custom_styles %}{% endblock %}
</head>

<body>

<div id="app">
{% include 'base/navbar.html' %}

{% include 'base/breadcrumb.html' %}

{% block content %}{% endblock %}
</div>

<script src="{% static 'js/vendor.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script>
  let template_context = {% template_context_to_json %};
</script>
{% block custom_scripts %}{% endblock %}

</body>
</html>