<div class="card combatant-context-unmatch-hide"
     data-combatant="{{ combatant.id }}"
>
  <div class="card-header p-0 display-only-context-hide">
    <div class="dropdown apply-context-hide remove-context-hide">
      <button type="button" class="btn btn-block btn-{{ combatant.color }} dropdown-toggle" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <strong>{{ combatant.name }}</strong>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item combatant-context-enter combatant-context-hide" data-combatant="{{ combatant.id }}"
           href="#">
          Play as {{ combatant.name }}</a>
        <a class="dropdown-item combatant-context-leave not-combatant-context-hide" data-combatant="{{ combatant.id }}"
           href="#"
        >
          Stop playing as {{ combatant.name }}</a>
        <a class="dropdown-item"
           href="{{ combatant.get_edit_url }}"
        >
          Edit {{ combatant.name }}</a>
        {% if user.is_authenticated %}
          {% if combatant.statblock %}
            <a class="dropdown-item" href="{{ combatant.statblock.get_absolute_url }}">
              Statblock
            </a>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="not-apply-context-hide">
      <!-- duplicated below because should be shown in either context... derp -->
      <button
          type="button"
          class="btn btn-block btn-outline-{{ combatant.color }} context-activatable"
          data-combatant="{{ combatant.id }}"
      >
        <strong>{{ combatant.name }}&nbsp;&nbsp;&nbsp;&nbsp;</strong>
      </button>
    </div>
    <div class="not-remove-context-hide">
      <!-- duplicated above because should be shown in either context... derp -->
      <button
          type="button"
          class="btn btn-block btn-outline-{{ combatant.color }} context-activatable"
          data-combatant="{{ combatant.id }}"
      >
        <strong>{{ combatant.name }}&nbsp;&nbsp;&nbsp;&nbsp;</strong>
      </button>
    </div>
  </div>

  <div class="card-header p-0 not-display-only-context-hide">
    <button class="btn btn-block btn-{{ combatant.color }}" style="font-size: 2.5em;">
      {{ combatant.name }}
    </button>
  </div>

  <div class="card-body combatant-card-body" data-id="{{ combatant.id }}">
    {% include 'base/combatant_card_body.html' %}
  </div>

  <div class="card-footer p-0 bg-light display-only-context-hide">
    <div class="dropdown">
      <button class="btn btn-light btn-block dropdown-toggle" type="button" id="initiative-dropdown"
              data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        <small>
          <span class="oi oi-timer" title="initiative" aria-hidden="true"></span>
          {{ combatant.initiative }}
        </small>
      </button>

      <form class="dropdown-menu p-2 update-initiative-form"
            action="{% url 'ajax-update-initiative' %}"
            method="post"
      >
        {% csrf_token %}
        <input type="hidden" value="{{ combatant.id }}" name="combatant_id">
        <div class="form-group mb-0">
          <input type="number" class="form-control mb-2" id="form-initiative-{{ combatant.id }}" name="initiative"
                 placeholder="Initiative">

          <button type="submit" class="btn btn-outline-success btn-block">Submit</button>
        </div>
      </form>

    </div>

  </div>

  <div class="card-footer p-0 bg-light not-display-only-context-hide text-center" style="font-size: 2em;">
    <span class="oi oi-timer" title="initiative" aria-hidden="true"></span>
    {{ combatant.initiative }}
  </div>
</div>