<div class="card combatant-context-hide-unmatch" data-combatant="{{ combatant.name }}">
  <div class="card-header p-0 bg-{{ combatant.color }}">
    <div class="dropdown">
      <button type="button" class="btn btn-block btn-{{ combatant.color }} dropdown-toggle" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <strong>{{ combatant.name }}</strong>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item combatant-context-enter combatant-context-hide" data-combatant="{{ combatant.name }}" href="#">
          Play as {{ combatant.name }}</a>
        <a class="dropdown-item combatant-context-leave combatant-context-show" data-combatant="{{ combatant.name }}" href="#"
           style="display: none;">
          Stop playing as {{ combatant.name }}</a>
      </div>
    </div>
  </div>
  <div class="card-body">
    {% for buff in combatant.buffs %}
      <span class="badge badge-success">
        <strong>{{ buff }}</strong>
      </span>
      <br>
    {% endfor %}
    {% for debuff in combatant.debuffs %}
      <span class="badge badge-danger">
        <strong>{{ debuff }}</strong>
      </span>
      <br>
    {% endfor %}
    {% for effect in combatant.other_effects %}
      <span class="badge badge-secondary">
        <strong>{{ effect }}</strong>
      </span>
      <br>
    {% endfor %}
  </div>
  <div class="card-footer p-0 bg-light">
    <div class="dropdown">
      <button class="btn btn-light btn-block dropdown-toggle" type="button" id="initiative-dropdown"
              data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        <small>Initiative {{ combatant.initiative }}</small>
      </button>

      <form class="dropdown-menu p-2">
        <div class="form-group mb-0">
          <input type="number" class="form-control mb-2" id="form-initiative-{{ combatant.name }}" name="initiative"
                 placeholder="Enter new initiative">

          <button type="submit" class="btn btn-outline-success btn-block">Submit</button>
        </div>
      </form>

    </div>

  </div>
</div>