<div class="card combatant-context-hide-unmatch" data-combatant="{{ combatant.id }}">
  <div class="card-header p-0">
    <div class="dropdown apply-context-hide remove-context-hide">
      <button type="button" class="btn btn-block btn-{{ combatant.color }} dropdown-toggle" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <strong>{{ combatant.name }}</strong>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item combatant-context-enter combatant-context-hide" data-combatant="{{ combatant.id }}"
           href="#">
          Play as {{ combatant.name }}</a>
        <a class="dropdown-item combatant-context-leave combatant-context-show" data-combatant="{{ combatant.id }}"
           href="#"
           style="display: none;">
          Stop playing as {{ combatant.name }}</a>
        {% if user.is_authenticated and combatant.statblock %}
          <a class="dropdown-item" href="{{ combatant.statblock.get_absolute_url }}">
            Statblock
          </a>
        {% endif %}
      </div>
    </div>
    <div class="apply-context-show remove-context-show" style="display: none;">
      <button
          type="button"
          class="btn btn-block btn-outline-{{ combatant.color }} context-activatable"
          data-combatant="{{ combatant.id }}"
      >
        <strong>{{ combatant.name }}&nbsp;&nbsp;&nbsp;&nbsp;</strong>
      </button>
    </div>
  </div>

  <div class="card-body combatant-card-body" data-id="{{ combatant.id }}">
    {% include 'base/combatant_card_body.html' %}
  </div>

  <div class="card-footer p-0 bg-light">
    <div class="dropdown">
      <button class="btn btn-light btn-block dropdown-toggle" type="button" id="initiative-dropdown"
              data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        <small>Initiative {{ combatant.initiative }}</small>
      </button>

      <form class="dropdown-menu p-2 update-initiative-form"
            action="{{ 'ajax-update-initiative' }}"
            method="post"
            data-combatant="{{ combatant.id }}"
      >
        <div class="form-group mb-0">
          <input type="number" class="form-control mb-2" id="form-initiative-{{ combatant.id }}" name="initiative"
                 placeholder="New roll">

          <button type="submit" class="btn btn-outline-success btn-block">Submit</button>
        </div>
      </form>

    </div>

  </div>
</div>