<nav role="navigation" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">DMTOOLS</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <a class="nav-link" href="{% url 'gods-home' %}">Gods</a>
      <a class="nav-link" href="{% url 'npcs-home' %}">NPCs</a>
      <a class="nav-link" href="{% url 'places-home' %}">Places</a>
      {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'monsters-home' %}">Monsters</a>
        <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
          Statblock Bits
        </a>
        <div class="dropdown-menu bg-dark">
          <a class="dropdown-item text-muted" href="{% url 'specialproperties-home' %}">Special Properties</a>
          <a class="dropdown-item text-muted" href="{% url 'actions-home' %}">Actions</a>
          <a class="dropdown-item text-muted" href="{% url 'legendaryactions-home' %}">Legendary Actions</a>
          <a class="dropdown-item text-muted" href="{% url 'reactions-home' %}">Reactions</a>
        </div>
      </div>
      {% endif %}
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
          Less common...
        </a>
        <div class="dropdown-menu bg-dark">
          <a class="dropdown-item text-muted" href="{% url 'races-home' %}">Races</a>
          <a class="dropdown-item text-muted" href="{% url 'dmscreentabs-home' %}">DM Screen Tabs</a>

          <a class="dropdown-item text-muted" href="#">Plot</a>
        </div>
      </div>
    </div>

    <div class="navbar-nav ml-auto">
      {% if request.path == '/' %}
        <button type="button"
                id="display-only-toggle-button"
                class="btn btn-dark d-none d-xl-inline-block text-muted mr-2"
                data-toggle="button"
                aria-pressed="false">
          Display only mode
        </button>
      {% endif %}
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#">
          <span class="oi oi-person"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right bg-dark" id="navbar-login-logout">
          {% if user.is_authenticated %}
            <div class="px-3">
              <a class="btn btn-block btn-outline-light" role="button" href="{% url 'logout' %}">Log out</a>
            </div>
          {% else %}
            <form class="p-3" method="post" action="{% url 'login' %}">
              {% csrf_token %}
              <input type="text" class="form-control mb-3 text-white bg-dark"
                     name="username" placeholder="Username">
              <input type="password" class="form-control mb-3 text-white bg-dark"
                     name="password" placeholder="Password">
              <button type="submit" class="btn btn-block btn-outline-light">Log in</button>
              <input type="hidden" name="next" value="{{ request.get_full_path }}">
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>